<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="niveau" routerlink="niveau">niveau  </a>
  <a class="navbar-brand" href="matiere/add" routerlink="matiere/add">matiere  </a>
  <a class="navbar-brand" href="etudiant" routerlink="etudiant">etudiant</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" href="paiement" routerlink="paiement">paiement</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="#" tabindex="-1" aria-disabled="true"></a>
      </li>
    </ul> 

  </div>
</nav>
