<div class="form">
    <form #AjoutMatiereForm = ngForm (ngSubmit)="onSubmit()">
      <div class="alert alert-danger" [hidden]="!error">veuiller verifier les donnees inserer</div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">nom</label>
          <div class="col-sm-10">
            <input type="text" name="nom_matiere" class="form-control" id="inputEmail3" [(ngModel)]="Form.nom_matiere" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">prix</label>
          <div class="col-sm-10">
            <input type="prix" name="prix" class="form-control" name="prix" id="inputPassword3" [(ngModel)]="Form.prix" required>
          </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">niveau</label>
            <div class="col-sm-10" style="text-align: center;">
              <select name="niveau" style="width:60%;"[(ngModel)] = "Form.niveau" required >
                <option value="null"></option>
                <option class="list-group-item" name="niveau" [value]="niveau.niveau " style="margin-top: 5px;;" (load)="reloadData()" *ngFor="let niveau of niveaux | async">
                 {{ niveau.niveau}} 
                </option>     
            </select>            
            </div>
          </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="!AjoutMatiereForm.valid">Ajouter niveau</button>
          </div>
        </div>

      </form>
</div>